<html>
    <head>
        <title>Heart ML</title>
    </head>
    <body>
      <h1>Welcome to heart diesease prediction using ML </h1>
        <form method="POST">
            

            
              <input placeholder="temperature (0.01 to 1)" class="form-control" name="temperature"></input>
      

	      <input placeholder="Thallium stress test" class="form-control" name="thal"></input>
              <input placeholder="resting_blood_pressure" class="form-control" name="resting_blood_pressure"></input>
              <input placeholder="chest_pain_type" class="form-control" name="chest_pain_type"></input>
              <input placeholder="num_major_vessels" class="form-control" name="num_major_vessels"></input>
              <input placeholder="fasting_blood_sugar" class="form-control" name="fasting_blood_sugar"></input>
              <input placeholder="resting_ekg_results" class="form-control" name="resting_ekg_results"></input>
              <input placeholder="serum_cholesterol" class="form-control" name="serum_cholesterol"></input>
              <input placeholder="oldpeak_eq_st_depression" class="form-control" name="oldpeak_eq_st_depression"></input>
              <input placeholder="sex" class="form-control" name="sex"></input>
              <input placeholder="age" class="form-control" name="age"></input>
              <input placeholder="max_heart_rate_achieved" class="form-control" name="max_heart_rate_achieved"></input>
              <input placeholder="exercise_induced_angina" class="form-control" name="exercise_induced_angina"></input>


            
            
            <div class="btn btn-success">
                <input type="submit" value="Submit" />
            </div>
        

</form>

    </body>
</html>
